/*! Myanimestrap * incrowd.ws/mas * LGPL2 */
/* begin reset */
.table_header, .td1, .td2 {
  border-width: 0 !important; }

/* end reset */
body {
  margin: 0;
  color: #333;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #333; }

a {
  color: #4cae4c;
  text-decoration: none; }

a:visited {
  color: #4cae4c;
  text-decoration: none; }

a:hover {
  color: #357935;
  text-decoration: underline; }

#list_surround {
  margin: 0 auto;
  width: 920px; }

#list_surround [cellspacing]:nth-of-type(1) {
  height: 40px; }
  #list_surround [cellspacing]:nth-of-type(1) .status_not_selected a, #list_surround [cellspacing]:nth-of-type(1) .status_selected a {
    display: block;
    padding: 10px 15px;
    position: relative;
    border-radius: 4px 4px 4px 4px;
    margin-left: 2px; }
    #list_surround [cellspacing]:nth-of-type(1) .status_not_selected a:hover, #list_surround [cellspacing]:nth-of-type(1) .status_selected a:hover {
      background-color: #eee;
      text-decoration: none; }
    #list_surround [cellspacing]:nth-of-type(1) .status_selected a, #list_surround [cellspacing]:nth-of-type(1) .status_selected a:hover {
      background-color: #4cae4c;
      color: #fff;
      text-decoration: none; }

#list_surround .header_title span {
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px; }

.table_header, .td1, .td2 {
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  padding: 8px; }
  .table_header:not(:first-child), .td1:not(:first-child), .td2:not(:first-child) {
    border-left-width: 1px !important; }

.table_header {
  font-weight: 700; }

.td1, .td2 {
  border-top-width: 1px !important; }

.td1 {
  background-color: #f9f9f9; }

.td2 {
  background-color: #fff; }

.animetitle + small {
  display: none; }

/** Magic happens here: */
#list_surround [cellspacing]:nth-of-type(1) {
  width: 0; }
  #list_surround [cellspacing]:nth-of-type(1) .status_not_selected a {
    color: white; }
    #list_surround [cellspacing]:nth-of-type(1) .status_not_selected a:hover {
      color: #4cae4c; }
  #list_surround [cellspacing]:nth-of-type(1) .status_not_selected, #list_surround [cellspacing]:nth-of-type(1) .status_selected {
    white-space: nowrap; }
#list_surround .header_title {
  margin-bottom: 20px; }
#list_surround .header_title span {
  text-transform: uppercase;
  color: #fff; }

.table_header {
  background: #fff; }

.category_totals {
  display: none; }

#grand_totals {
  display: none; }

.header_al {
  display: none; }

#copyright {
  /*
   * Original notice:
   * DO NOT REMOVE OR HIDE THIS DIV
   * IF FOUND TO BE REMOVED, YOUR LIST WILL BE REMOVED TOO
   */
  padding-top: 6px;
  text-align: left;
  margin: 0 auto;
  width: 920px;
  color: #999; }
  #copyright a {
    color: #999;
    border-bottom: 1px dotted #999; }
    #copyright a:hover {
      color: #999;
      border-bottom: 1px solid #999;
      text-decoration: none; }
  #copyright:after {
    /* Ha-ha-ha, please don't remove this too :3 */
    content: "Styled with Myanimestrap 1.0.2"; }

/*# sourceMappingURL=style_manga.css.map */
